.acomplete-ui {
	.acomplete-ui-label {
		display: block;
	}
	.acomplete-ui-inp {
		height: auto;
		width: 100%;
		outline: none;
		border: none;
	}
	.acomplete-inp-wrap {
		position: relative;
		z-index: 0;
	}
	.acomplete-ui-list {
		border-top: none;
		display: block;
		position: absolute;
		z-index: 1;
		background-color: white;
		li {
			display: block;
			height: auto;
		}
	}
}